$prefixCls: 'hcl-directory';

.#{$prefixCls} {
  position: relative;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 140px;
  height: 130px;
  margin: 10px;
  cursor: pointer;
  &__list {
    padding: 10px 30px;
    color: #1a1a1a;
    font-size: 14px;
    li {
      position: relative;
      display: flex;
      flex-direction: row;
      padding: 0 15px 0 25px;
      line-height: 32px;
      border-bottom: 1px solid #f4f4f5;
      cursor: pointer;
      &:last-child {
        border: none;
      }
      & > div {
        // flex: 1;
        display: flex;
        flex-direction: row;
      }
    }
    .directory-checkbox {
      position: absolute;
      left: 5px;
      top: 4px;
      .el-checkbox__label {
        display: none;
      }
    }
    .directory-img {
      width: 40px;
      & img {
        height: 18px;
      }
    }
    .directory-name {
      flex: 1;
      width: 0;
      padding: 0 18px;
      line-height: 40px;
    }
    .directory-input {
      flex: 1;
      width: inherit;
      input[type=text] {
        width: 240px;
        height: 30px;
        line-height: 30px;
        color: #1a1a1a;
        font-size: 14px;
      }
    }
  }
  &__normal {
    .directory-img {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100%;
      height: 100px;
      padding-bottom: 6px;
    }
    .directory-name {
      width: inherit;
      line-height: 30px;
      color: #1a1a1a;
      font-size: 14px;
      text-align: center;
    }
    .directory-input {
      width: inherit;
      input[type=text] {
        height: 30px;
        line-height: 30px;
        color: #1a1a1a;
        font-size: 14px;
      }
    }
    .directory-checkbox {
      position: absolute;
      top: 0;
      left: 0;
      .el-checkbox__label {
        display: none;
      }
    }
  }
}

.#{$prefixCls}-group {
  display: flex;
  flex-direction: column;
  &__header {
    display: flex;
    padding: 4px 0;
    margin: 0 10px;
    border-bottom: 1px solid #e8ebed;
    .el-checkbox__label {
      display: none;
    }
    .check-all {
      display: flex;
      align-items: center;
      line-height: 40px;
      padding-left: 15px;
      padding-right: 15px;
      margin-right: 0;
      border-right: 1px solid #e8ebed;
    }
    .breadcrumb {
      flex: 1;
      padding: 0 25px;
      font-size: 13px;
      line-height: 40px;
    }
  }
  &__body {
    position: relative;
    flex: 1;
    overflow: auto;
  }
  &--empty {
    position: absolute;
    width: 100%;
    height: 100%;
    p {
      color: rgba(0, 0, 0, 0.6);
      margin-bottom: 20px;
      font-size: 14px;
    }
  }
}
.#{$prefixCls}__loading {
  position: absolute;
  top: 20px;
  left: 20px;
}